**/*.bak
**/*.map
**/*.ts
**/.eslintrc.json
**/tsconfig.json
.github/
.gitignore
.vscode-test/**
.vscode/**
assets/balena.svg
assets/preview.png
assets/vscode_dot_dev_preview.png
node_modules/
.pnpm-store/
out/**
result
src/
test-util/
test/
vsc-extension-quickstart.md