**/*.bak
**/*.map
**/*.ts
**/.eslintrc.json
**/tsconfig.json
*.nix
.direnv
.envrc
.github/
.gitignore
.vscode-test/**
.vscode/**
assets/balena.svg
assets/preview.png
assets/vscode_dot_dev_preview.png
flake.lock
node_modules/
out/**
result
src/
test-util/
test/
vsc-extension-quickstart.md